.PropertyCardComponent {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
    float: left;
    margin: 20px;
    text-align: center;
    width: 30%;
    height: 30%;
    border: 1px solid black;
}
.PropertyCardComponent:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.8);
}

.logoToSell {
    width: 100px;
    height: 100px;
}